.background {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
}

.formContainer {
  width: 400px;
  height: 400px;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}

.title {
  color: white;
  font-size: 17px;
}

.inputContainer {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 10px;
  height: 25px;
  background-color: #3f3fbc;
  border: none;
  color: white;
  padding: 5px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #9d9dd7;
}

.indications {
  display: flex;
  width: 250px;
}

.text {
  color: white;
  background: none;
}

.textRegister {
  background: none;
  margin: 0px;
  padding: 0px;
  color: var(--green);
  margin-left: 5px;
}

.iniciar {
  background: none;
  color: #9d9dd7;
  cursor: pointer;
}
